@model GBA_Application.Models.Appointments

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointments</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.fullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.fullVehicleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Approved)
        </dd>
    </dl>
</div>
<div>
    @using Microsoft.AspNetCore.Http;
    @if (Context.Session.GetString("userType") == "member")
    {
        <a asp-action="MemberIndex">Back</a>
    }
    else
    {
        <a asp-action="Edit">Edit</a> <br />
        <a asp-action="Index">Back</a>
    }
</div>
