    @model IEnumerable<GBA_Application.Models.Appointments>

@{
    ViewData["Title"] = "Upcoming Appointments";
}

<h1>Upcoming Appointments</h1>

<p>
    <a asp-action="Create">Add an Appointment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.fullVehicleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                @if (item.Approved == false)
                {
                    <a asp-action="Approve" asp-route-id="@item.AppointmentId">Approve Appointment</a> <br />
                }
                <a asp-action="Edit" asp-route-id="@item.AppointmentId">Change Appointment</a> |
                <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<a asp-action="OldAppointments">View Previous Appointments</a>
